/* Forge semantic color tokens */
:root {
  --fe-color-brand-default: var(--fe-primitive-purple-default);
  --fe-color-brand-dark: var(--fe-primitive-purple-dark);
  --fe-color-brand-light: var(--fe-primitive-purple-light);
  --fe-color-font-default: var(--fe-primitive-gray-20);
  --fe-color-font-dark: var(--fe-primitive-gray-0);
  --fe-color-font-muted: var(--fe-primitive-gray-37);
  --fe-color-font-light: var(--fe-primitive-gray-50);
  --fe-color-font-disabled: var(--fe-primitive-gray-70);
  --fe-color-font-invert: var(--fe-primitive-gray-100);
  --fe-color-background-default: var(--fe-primitive-gray-100);
  --fe-color-background-dark: var(--fe-primitive-gray-85);
  --fe-color-background-light: var(--fe-primitive-gray-88);
  --fe-color-border-default: var(--fe-primitive-gray-70);
  --fe-color-border-dark: var(--fe-primitive-gray-37);
  --fe-color-border-light: var(--fe-primitive-gray-85);
  --fe-color-border-focus: var(--fe-primitive-blue-default);
  --fe-color-border-focus-invert: var(--fe-primitive-blue-light);
  --fe-color-interaction-default: var(--fe-primitive-blue-default);
  --fe-color-interaction-select: var(--fe-primitive-blue-x-dark);
  --fe-color-interaction-select-light: var(--fe-primitive-blue-x-light);
  --fe-color-interaction-hover-dark: var(--fe-primitive-blue-dark);
  --fe-color-interaction-hover: var(--fe-primitive-blue-light);
  --fe-color-interaction-disabled: var(--fe-primitive-gray-70);
  --fe-color-alert-success: var(--fe-primitive-green);
  --fe-color-alert-info: var(--fe-primitive-purple-tertiary);
  --fe-color-alert-attention: var(--fe-primitive-yellow);
  --fe-color-alert-critical: var(--fe-primitive-red);
  --fe-color-alert-new: var(--fe-primitive-teal);
  --fe-color-shadow-default: var(--fe-primitive-gray-0-alpha-light);
  --fe-color-shadow-dark: var(--fe-primitive-gray-0-alpha);
  --fe-color-secondary-pistachio-100: var(--fe-primitive-pistachio-100);
  --fe-color-secondary-pistachio-70: var(--fe-primitive-pistachio-70);
  --fe-color-secondary-pistachio-40: var(--fe-primitive-pistachio-40);
  --fe-color-secondary-pistachio-10: var(--fe-primitive-pistachio-10);
  --fe-color-secondary-yellow-100: var(--fe-primitive-yellow-100);
  --fe-color-secondary-yellow-70: var(--fe-primitive-yellow-70);
  --fe-color-secondary-yellow-40: var(--fe-primitive-yellow-40);
  --fe-color-secondary-yellow-10: var(--fe-primitive-yellow-10);
  --fe-color-secondary-coral-100: var(--fe-primitive-coral-100);
  --fe-color-secondary-coral-70: var(--fe-primitive-coral-70);
  --fe-color-secondary-coral-40: var(--fe-primitive-coral-40);
  --fe-color-secondary-coral-10: var(--fe-primitive-coral-10);
  --fe-color-secondary-jungle-100: var(--fe-primitive-jungle-100);
  --fe-color-secondary-jungle-70: var(--fe-primitive-jungle-70);
  --fe-color-secondary-jungle-40: var(--fe-primitive-jungle-40);
  --fe-color-secondary-jungle-10: var(--fe-primitive-jungle-10);
  --fe-color-secondary-purple-100: var(--fe-primitive-purple-100);
  --fe-color-secondary-purple-70: var(--fe-primitive-purple-70);
  --fe-color-secondary-purple-40: var(--fe-primitive-purple-40);
  --fe-color-secondary-purple-10: var(--fe-primitive-purple-10);
  --fe-color-secondary-orchid-100: var(--fe-primitive-orchid-100);
  --fe-color-secondary-orchid-70: var(--fe-primitive-orchid-70);
  --fe-color-secondary-orchid-40: var(--fe-primitive-orchid-40);
  --fe-color-secondary-orchid-10: var(--fe-primitive-orchid-10);
  --fe-color-secondary-citron-100: var(--fe-primitive-citron-100);
  --fe-color-secondary-citron-70: var(--fe-primitive-citron-70);
  --fe-color-secondary-citron-40: var(--fe-primitive-citron-40);
  --fe-color-secondary-citron-10: var(--fe-primitive-citron-10);
  --fe-color-secondary-neutral-100: var(--fe-primitive-neutral-100);
  --fe-color-secondary-neutral-70: var(--fe-primitive-neutral-70);
  --fe-color-secondary-neutral-40: var(--fe-primitive-neutral-40);
  --fe-color-secondary-neutral-10: var(--fe-primitive-neutral-10);
  --fe-color-dataviz-pistachio-100: var(--fe-primitive-pistachio-100);
  --fe-color-dataviz-pistachio-90: var(--fe-primitive-pistachio-90);
  --fe-color-dataviz-pistachio-80: var(--fe-primitive-pistachio-80);
  --fe-color-dataviz-pistachio-70: var(--fe-primitive-pistachio-70);
  --fe-color-dataviz-pistachio-60: var(--fe-primitive-pistachio-60);
  --fe-color-dataviz-pistachio-50: var(--fe-primitive-pistachio-50);
  --fe-color-dataviz-pistachio-40: var(--fe-primitive-pistachio-40);
  --fe-color-dataviz-pistachio-30: var(--fe-primitive-pistachio-30);
  --fe-color-dataviz-pistachio-20: var(--fe-primitive-pistachio-20);
  --fe-color-dataviz-pistachio-10: var(--fe-primitive-pistachio-10);
  --fe-color-dataviz-yellow-100: var(--fe-primitive-yellow-100);
  --fe-color-dataviz-yellow-90: var(--fe-primitive-yellow-90);
  --fe-color-dataviz-yellow-80: var(--fe-primitive-yellow-80);
  --fe-color-dataviz-yellow-70: var(--fe-primitive-yellow-70);
  --fe-color-dataviz-yellow-60: var(--fe-primitive-yellow-60);
  --fe-color-dataviz-yellow-50: var(--fe-primitive-yellow-50);
  --fe-color-dataviz-yellow-40: var(--fe-primitive-yellow-40);
  --fe-color-dataviz-yellow-30: var(--fe-primitive-yellow-30);
  --fe-color-dataviz-yellow-20: var(--fe-primitive-yellow-20);
  --fe-color-dataviz-yellow-10: var(--fe-primitive-yellow-10);
  --fe-color-dataviz-coral-100: var(--fe-primitive-coral-100);
  --fe-color-dataviz-coral-90: var(--fe-primitive-coral-90);
  --fe-color-dataviz-coral-80: var(--fe-primitive-coral-80);
  --fe-color-dataviz-coral-70: var(--fe-primitive-coral-70);
  --fe-color-dataviz-coral-60: var(--fe-primitive-coral-60);
  --fe-color-dataviz-coral-50: var(--fe-primitive-coral-50);
  --fe-color-dataviz-coral-40: var(--fe-primitive-coral-40);
  --fe-color-dataviz-coral-30: var(--fe-primitive-coral-30);
  --fe-color-dataviz-coral-20: var(--fe-primitive-coral-20);
  --fe-color-dataviz-coral-10: var(--fe-primitive-coral-10);
  --fe-color-dataviz-peacock-100: var(--fe-primitive-peacock-100);
  --fe-color-dataviz-peacock-90: var(--fe-primitive-peacock-90);
  --fe-color-dataviz-peacock-80: var(--fe-primitive-peacock-80);
  --fe-color-dataviz-peacock-70: var(--fe-primitive-peacock-70);
  --fe-color-dataviz-peacock-60: var(--fe-primitive-peacock-60);
  --fe-color-dataviz-peacock-50: var(--fe-primitive-peacock-50);
  --fe-color-dataviz-peacock-40: var(--fe-primitive-peacock-40);
  --fe-color-dataviz-peacock-30: var(--fe-primitive-peacock-30);
  --fe-color-dataviz-peacock-20: var(--fe-primitive-peacock-20);
  --fe-color-dataviz-peacock-10: var(--fe-primitive-peacock-10);
  --fe-color-dataviz-jungle-100: var(--fe-primitive-jungle-100);
  --fe-color-dataviz-jungle-90: var(--fe-primitive-jungle-90);
  --fe-color-dataviz-jungle-80: var(--fe-primitive-jungle-80);
  --fe-color-dataviz-jungle-70: var(--fe-primitive-jungle-70);
  --fe-color-dataviz-jungle-60: var(--fe-primitive-jungle-60);
  --fe-color-dataviz-jungle-50: var(--fe-primitive-jungle-50);
  --fe-color-dataviz-jungle-40: var(--fe-primitive-jungle-40);
  --fe-color-dataviz-jungle-30: var(--fe-primitive-jungle-30);
  --fe-color-dataviz-jungle-20: var(--fe-primitive-jungle-20);
  --fe-color-dataviz-jungle-10: var(--fe-primitive-jungle-10);
  --fe-color-dataviz-purple-100: var(--fe-primitive-purple-100);
  --fe-color-dataviz-purple-90: var(--fe-primitive-purple-90);
  --fe-color-dataviz-purple-80: var(--fe-primitive-purple-80);
  --fe-color-dataviz-purple-70: var(--fe-primitive-purple-70);
  --fe-color-dataviz-purple-60: var(--fe-primitive-purple-60);
  --fe-color-dataviz-purple-50: var(--fe-primitive-purple-50);
  --fe-color-dataviz-purple-40: var(--fe-primitive-purple-40);
  --fe-color-dataviz-purple-30: var(--fe-primitive-purple-30);
  --fe-color-dataviz-purple-20: var(--fe-primitive-purple-20);
  --fe-color-dataviz-purple-10: var(--fe-primitive-purple-10);
  --fe-color-dataviz-orchid-100: var(--fe-primitive-orchid-100);
  --fe-color-dataviz-orchid-90: var(--fe-primitive-orchid-90);
  --fe-color-dataviz-orchid-80: var(--fe-primitive-orchid-80);
  --fe-color-dataviz-orchid-70: var(--fe-primitive-orchid-70);
  --fe-color-dataviz-orchid-60: var(--fe-primitive-orchid-60);
  --fe-color-dataviz-orchid-50: var(--fe-primitive-orchid-50);
  --fe-color-dataviz-orchid-40: var(--fe-primitive-orchid-40);
  --fe-color-dataviz-orchid-30: var(--fe-primitive-orchid-30);
  --fe-color-dataviz-orchid-20: var(--fe-primitive-orchid-20);
  --fe-color-dataviz-orchid-10: var(--fe-primitive-orchid-10);
  --fe-color-dataviz-citron-100: var(--fe-primitive-citron-100);
  --fe-color-dataviz-citron-90: var(--fe-primitive-citron-90);
  --fe-color-dataviz-citron-80: var(--fe-primitive-citron-80);
  --fe-color-dataviz-citron-70: var(--fe-primitive-citron-70);
  --fe-color-dataviz-citron-60: var(--fe-primitive-citron-60);
  --fe-color-dataviz-citron-50: var(--fe-primitive-citron-50);
  --fe-color-dataviz-citron-40: var(--fe-primitive-citron-40);
  --fe-color-dataviz-citron-30: var(--fe-primitive-citron-30);
  --fe-color-dataviz-citron-20: var(--fe-primitive-citron-20);
  --fe-color-dataviz-citron-10: var(--fe-primitive-citron-10);
  --fe-color-dataviz-gray-100: var(--fe-primitive-gray-dataviz-100);
  --fe-color-dataviz-gray-90: var(--fe-primitive-gray-dataviz-90);
  --fe-color-dataviz-gray-80: var(--fe-primitive-gray-dataviz-80);
  --fe-color-dataviz-gray-70: var(--fe-primitive-gray-dataviz-70);
  --fe-color-dataviz-gray-60: var(--fe-primitive-gray-dataviz-60);
  --fe-color-dataviz-gray-50: var(--fe-primitive-gray-dataviz-50);
  --fe-color-dataviz-gray-40: var(--fe-primitive-gray-dataviz-40);
  --fe-color-dataviz-gray-30: var(--fe-primitive-gray-dataviz-30);
  --fe-color-dataviz-gray-20: var(--fe-primitive-gray-dataviz-20);
  --fe-color-dataviz-gray-10: var(--fe-primitive-gray-dataviz-10);
  --fe-color-dataviz-mariner-100: var(--fe-primitive-mariner-100);
  --fe-color-dataviz-mariner-90: var(--fe-primitive-mariner-90);
  --fe-color-dataviz-mariner-80: var(--fe-primitive-mariner-80);
  --fe-color-dataviz-mariner-70: var(--fe-primitive-mariner-70);
  --fe-color-dataviz-mariner-60: var(--fe-primitive-mariner-60);
  --fe-color-dataviz-mariner-50: var(--fe-primitive-mariner-50);
  --fe-color-dataviz-mariner-40: var(--fe-primitive-mariner-40);
  --fe-color-dataviz-mariner-30: var(--fe-primitive-mariner-30);
  --fe-color-dataviz-mariner-20: var(--fe-primitive-mariner-20);
  --fe-color-dataviz-mariner-10: var(--fe-primitive-mariner-10);
}
